<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>List accounts - Flask</title>
</head>
<body style="padding:20px">
    <p>
        <a href="accounts"> 
            GERIR CATEGORIAS
        </a>
    </p>
    <br>
    <p>
        <a href="retalhistas"> 
            GERIR RETALHISTAS
        </a>
    </p>
    <br>
    <p>
        <a href="listIVM"> 
            LISTAR EVENTOS DE REPOSIÇÃO
        </a>
    </p>
    <br>
    <p>
        <a href="listarCat"> 
            LISTAR SUB-CATEGORIAS DE UMA SUPERCATEGORIA
        </a>
    </p>

</body>
</html>